.App {
  font-family: sans-serif;
  text-align: center;
}

.board{
  display: grid;
  grid-template-columns: 82px 82px 82px;
  align-items: center;
  justify-content: center;
}


.square{
  border: 1px solid #000;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square:hover{
  background-color: rgb(250, 245, 207);
}

