.App {
  font-family: sans-serif;
  text-align: center;
}

.board{
  display: grid;
  grid-template-columns: 82px 82px 82px;
  align-items: center;
  justify-content: center;
}


.square{
  border: 1px solid #000;
  width: 80px;
  height: 80px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square:hover{
  background-color: rgba(205, 206, 206, 0.5);
}

.reset-btn{
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  background-color: rgba(205, 206, 206, 0.5);
  cursor: pointer;
}

.reset-btn:hover{
  background-color: rgba(205, 206, 206, 1);
}